body {
}

header {
  margin: 20px 10px;
  background: #f7e3de;
  border-radius: 10px;
  padding: 30px;
  font-size: 18px;
  border: 5px solid #ec6e4c;
}

button {
  border: none;
  text-align: center;
  background: #ec6e4c;
  color: white;
  padding: 5px 14px;
  display: block;
  margin: 20px 0px 0px 0px;
  border-radius: 5px;
  font-size: 18px;
}

h6 {
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  background: white;
  color: #ec6e4c;
  border: 0.5px solid #ec6e4c;
}

h2 {
  color: #ec6e4c;
  padding: 20px 0px;
}
h4 {
  color: #ec6e4c;
  padding: 0px 0px 10px 0px;
}

strong {
  color: #ec6e4c;
  font-size: 30px;
}

p {
  text-transform: capitalize;
}

.searchbar {
  padding-top: 20px;
  color: black;
}

.opensource {
  padding: 20px 15px 0px 0px;
  font-size: 14px;
  text-align: right;
}

.weather-forecast {
  font-weight: 100;
  font-size: 10px;
  padding: 20px 0px;
  text-align: center;
  border: 3px solid #ec6e4c;
  border-radius: 10px;
  margin: 10px 3px;
}

.weather-forecast h5 {
  font-size: 19px;
  color: #ec6e4c;
}

.weather-forecast h6 {
  font-size: 18px;
  color: black;
}
