body {
  background-color: #19b5ff;
}

header {
  margin: 20px 0px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}

button {
  border: 0.5px solid black;
  text-align: center;
  padding: 5px 14px;
  display: block;
  margin: 20px 0px 0px 0px;
  border-radius: 5px;
  font-size: 18px;
}

h6 {
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

h2 {
  color: #19b5ff;
  padding: 20px 0px;
}
h4 {
  color: #19b5ff;
  padding: 0px 0px 10px 0px;
}

strong {
  color: #19b5ff;
  font-size: 30px;
}

p {
  text-transform: capitalize;
}

.searchbar {
  padding-top: 20px;
  color: black;
}

.opensource {
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  text-align: right;
}
